.table_main{
    margin-left: 20px;
    margin-right:20px;
    border: thin solid bottom;
    font-size: 75%;
    border-spacing: 0px;
    padding-right: 500px;
}
.td_main{
    padding-right: 500px;
    border: thin dotted gray;
}
.table_internal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
}
.aout{
    display: flex;
    flex-direction: column-reverse;
    justify-content:start;
    height:600px;
    width:100%;
}
.ax{
    display: flex;
    flex-direction:row;
    margin-right: 30px;
    font-size: 65%;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    color: #3277bd;
    height: 50px;
    background: white;
}
.ain{
    margin-right: 100px;
    white-space: nowrap;
    color:#3277bd;
    height:50px;
    background: white;
}
#href_style{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80%;
}