.outbox{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
    flex:1;
    border-color:aliceblue;
    border-width: 1px;
    border-style:solid;
    border-left-color:white;
    border-right-color: white;
    padding-left: 0%;
    margin: 0%;
    margin-left: 0px;

}
#amazing{
    width: 40px;
    background: #db4641;
    margin-right: 200px;
    justify-content:center;
    color: white;
    float: right
}
#background{
    background: #1480ec;
}
.inbox{
    border-block: black;
    margin-left: 200px;
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    white-space: nowrap
}
.inbox1{
    border-block: black;
    margin-left: 20px;
    font-size: 75%;
    color: white;
    white-space: nowrap
}
.inbox2{
    border-block: black;
    margin-left: 20px;
    margin-right: 400px;
    white-space: nowrap
}