.box_out_title{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    width: auto;
    height:300px ;
}
.box_in_title{
    margin: 0 0 0 0;
    width: auto;
    height: 100px;
}

.box_in_title_k{
    margin: 0 0 0 0;
    width: auto;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}
.box_in_title_mid{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    margin: auto;
    width: 460px;
    height: 100px;
}
.box_in_title_inner{
    margin: 0 20px 0px 0;
    width: 100px;
    height: 100px;   
}
#head{
    background:url('../res/title_bg.png');
}
#title{
    color: white;
    text-align: center;
    text-decoration: none;
}
#title_small:hover{
    color: grey;
    text-align: center;
    text-decoration: none;  
}
#title title1{
    font-family:zh_title;
    font-size: 70px;
}
#title title2{
    font-family:en_title;
    font-size: 15px;
}

#title_small{
    color: white;
    text-align: center;
    text-decoration: none;
}
#title title3{
    font-family:Microsoft Yahei;
    font-size: 15px;   
}
@font-face{
    font-family:zh_title;
    src:url('../font/zh_lixukemaobi.ttf');

}
@font-face{
    font-family: en_title;
    src:url('../font/en_Audrey-BoldOblique.otf');
}


.box_content{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: auto;
}

.box_left{
    display: flex;
    display: -webkit-flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
}
#box_left{
    margin: 20px 20px 20px 0;
    width: 75%;
    background-color: #DEDEDE;
}
.box_right{
    display: flex;
    display: -webkit-flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
}
#box_rigth{
    widows: 20%;
}
.box_conetnt_in{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex: 1 1 auto;
}
#box_conetnt_in{
    width:auto;
    height: 400px;
    margin: 5px 0 5px 0;
    background-color: white;
}
.box_content_mid{
    display: table-cell;
    vertical-align: middle;   
}
.box_content_title{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1 1 auto; 
}

#box_content_mid{
    margin-left: 0px;
    width: auto;
    height: 300px;
}
#like_botton{
    background: url('../res/like.png');
    height:19px;
    width: 19px;
    border: 0;
    outline:none;
}
#like_count{
    font-size: 14px;
    font-family: Microsoft Yahei;
}
.box_icon{
    margin:10px 0px 10px 100px
}
#seach_botton{
    background: url('../res/search.png');
    height:16px;
    width: 16px;
    border: 0;
    outline:none;
    position:absolute;
    left:160px;
    bottom: 19;
}
.link_bar{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
}
#link_bar{
    height:40px;
    width: 200px;
    margin-left: 100px;
    margin-bottom: 10px;
}
#link_bar_mini{
    margin-right: 5px;
}
#name{
    font-family: Microsoft JhengHei;
    margin-left: 100px;
    margin-bottom: 4px;
}
.login_bar_out{
    display: flex;
    display: -webkit-flex;
    flex-direction: cloumn;
    justify-content: flex-start;
}
#login_bar_out{
    width: 220px;
    border: 1px;
    border-style: solid;
    margin-left: 80px;
    height:auto
}
#login_bar{
    margin-right: 20px;
    margin-left:20px;
    height: 20px;
    margin-top: 10px;
    width: auto;

}
#login_botton{
    height:20px;
    width: 16px;
    background: cornflowerblue;
    border: 2;
    outline:none;
    color: white;
    margin-right: 40px;
    margin-left:0px;
    margin-bottom: 5px;
    width: 180px;
    font-size: 10px;
}